<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Curso GoNode - Módulo 1</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <div class="row">
        <div class="col-md-12" style="padding-top: 30px">
          <h4>Curso GoNode</h4>
          <hr>
          <form action="/check" method="post">
          <div class="form-group">
            <label class="control-form">Nome</label>
            <input type="text" class="form-control" name="name">
          </div>
          <div class="form-group">
            <label class="control-form">Idade</label>
            <input type="text" class="form-control" name="idade">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Verificar</button>
          </div>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
